/* Start of white_box_gray_border system
###################################################################################################
*/
.white_box_gray_border {
    position: absolute;
    top: 200px;
    left: 100px;
    width: 440px;
    height: 300px;
    background-color: #fcfcfc;
}
.white_box_gray_border_top_left {
    position: absolute;
    top: -47px;
    left: -47px;
    width: 47px;
    height: 47px;
    background: url('../img/white_box_gray_border/white_box_gray_border_top_left.png');
    background-repeat: no-repeat;
}
.white_box_gray_border_top_right {
    position: absolute;
    top: -47px;
    right: -47px;
    width: 47px;
    height: 47px;
    background: url('../img/white_box_gray_border/white_box_gray_border_top_right.png');
    background-repeat: no-repeat;
}
.white_box_gray_border_bottom_right {
    position: absolute;
    bottom: -47px;
    right: -47px;
    width: 47px;
    height: 47px;
    background: url('../img/white_box_gray_border/white_box_gray_border_bottom_right.png');
    background-repeat: no-repeat;
}
.white_box_gray_border_bottom_left {
    position: absolute;
    bottom: -47px;
    left: -47px;
    width: 47px;
    height: 47px;
    background: url('../img/white_box_gray_border/white_box_gray_border_bottom_left.png');
    background-repeat: no-repeat;
}
.white_box_gray_border_top_edge {
    position: absolute;
    top: -47px;
    right: 0px;
    width: 100%;
    height: 47px;
    background: url('../img/white_box_gray_border/white_box_gray_border_top_edge.png');
    background-repeat: repeat-x;
}
.white_box_gray_border_right_edge {
    position: absolute;
    top: 0px;
    right: -47px;
    width: 47px;
    height: 100%;
    background: url('../img/white_box_gray_border/white_box_gray_border_right_edge.png');
    background-repeat: repeat-y;
}
.white_box_gray_border_bottom_edge {
    position: absolute;
    bottom: -47px;
    right: 0px;
    width: 100%;
    height: 47px;
    background: url('../img/white_box_gray_border/white_box_gray_border_bottom_edge.png');
    background-repeat: repeat-x;
}
.white_box_gray_border_left_edge {
    position: absolute;
    top: 0px;
    left: -47px;
    width: 47px;
    height: 100%;
    background: url('../img/white_box_gray_border/white_box_gray_border_left_edge.png');
    background-repeat: repeat-y;
}
